<div
  *ngIf="{
    pageProject: (pageProjects$ | async).data
  } as data"
>
  <div class="row">
    <nb-card class="col-md-12">
      <nb-card-header>{{ 'Project List' | translate }}</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-10"></div>
          <div class="col-lg-2">
            <button nbButton hero status="primary" (click)="openAddProjectModal()">Add Project</button>
          </div>
        </div>
        <ngx-datatable
          class="bootstrap"
          [rows]="data.pageProject?.content"
          [loadingIndicator]="!data.pageProject"
          [columns]="cols"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [externalPaging]="true"
          [count]="data.pageProject?.totalElements"
          [offset]="data.pageProject?.number"
          [limit]="data.pageProject?.size"
          (page)="setPage($event)"
        >
        </ngx-datatable>
      </nb-card-body>
    </nb-card>
  </div>

</div>

<ng-template #ActionTemplate let-row="row" let-value="value">
  <button class="btn btn-sm btn-warning" (click)="editProject(value)">Edit</button>
  <button class="ml-3 btn btn-sm btn-danger" (click)="deleteProject(value)">Delete</button>
</ng-template>

